extends base

block content 
    div.plyer__container 
        video(src="/"+video.fileUrl)

    div.video__info
        p=video.title
        div
            small Uploadedy by 
            //- a(href=`/users/${video.owner._id}`)=video.owner.name
        div
            small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        //- if String(video.owner._id) === String(loggedInUser._id) 
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;